ENV=development
RUST_LOG=info
HOST=localhost
PORT=8000

# Database
POSTGRES_HOST=localhost
POSTGRES_DB=one_edu_app
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

# STASD
STATSD_HOST=localhost
STATSD_PORT=8125
STATSD_PREFIX=one_edu_app
